@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto-bold';
    src: url('./assets/fonts/Roboto-Bold.ttf');
}

@layer base {
    body {
        @apply bg-[#f5f7f8];
    }
}

::-webkit-scrollbar {
    padding: 5px;
    width: 4px;
    height: 8px;
    background-color: transparent;
    margin-left: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #d5d5d5;
}